@keyframes myfirst
{
from {
    background: red;
    transform: rotate(360deg);
}
to {
    background: green;
    border-radius 50%;
}
}
@keyframes tagChange
{
from {
   border-radius 1px;
}
to {
    border-radius 10px;
}
}
@keyframes topShow
{
from {
width:0;
height:0;
}
to {
      width 40px;
height 40px;
}
}
@keyframes moveing
{
0% {
transform scale(1)
transform translateX(0px)
}
50%{
transform scale(1.1)
transform translateX(-2px)
}
70%{
transform scale(1.2)
transform translateX(-10px)
}
90%{
transform scale(1.1)
transform translateX(-2px)
}
100%{
transform scale(1)
transform translateX(0px)
}
}
@keyframes borderTopNone
{
from {
  border-top: 5px solid #a8c4d4
}
to {
  order-top: 0px;
}
}