blockquote {
  display: inline-block;
  border-top: 1px dashed #2e5c77;
  border-bottom: 1px dashed #2e5c77;
  font-size: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 1.75em;
  color: #2e5c77;
  padding: 1em;
}

hr {
  border-top: 1px dashed #62a7d8;
  margin-top 2em;
}

h1 {
  border-radius 50px;
  background: #88c1ea;
  margin 1em auto;
}