// 适配展示
.h5-book{
  display: none !important;
  }

// 窄屏
@media (max-width  $MQNarrow)
    .pc-book{
    display  none !important;
    }
    .h5-book{
    display block !important;;
    }
// 手机屏
@media (max-width  $MQMobile)
    .pc-book{
    display  none !important;
    }
    .h5-book{
    display block !important;;
    }
// 手机屏
@media (max-width  $MQMobileNarrow)
    .pc-book{
    display  none !important;
    }
    .h5-book{
    display block !important;;
    }


