@keyframes opacitying {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes rorating {
    0% {
        transform: rotateZ(10deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(10deg);
    }
}
@keyframes show {
    0% {
        opacity : 0;
    }

    100% {
        opacity : 1;
    }
}
@keyframes hide {
    0% {
        opacity : 0;
    }

    100% {
        opacity : 1;
    }
}