  
// layout 
.all-box{
    // height 100%;
    width  100%
    position relative
    overflow-x: hidden
    }

// 解决vue高度100%无效问题
html,body,#app{
  overflow-x: hidden
}
body{
  background transparent;
}
html{
height 100%
}

.h5-book{
  display: none !important;
  }

// 窄屏
@media (max-width  $MQNarrow)
    .pc-book{
    display  none !important;
    }
    .h5-book{
    display block !important;;
    }
// 手机屏
@media (max-width  $MQMobile)
    .pc-book{
    display  none !important;
    }
    .h5-book{
    display block !important;;
    }
// 手机屏
@media (max-width  $MQMobileNarrow)
    .pc-book{
    display  none !important;
    }
    .h5-book{
    display block !important;;
    }


