.content-box{
    margin  0 auto
    width  900px
    height 100%
}

// 窄屏
@media (max-width  $MQNarrow)
  .content-box{
    width  100%
    height 100%
    }
    .catalog,.select-box-top{
    display  none !important;
    }
    .fixed-box,{
    display block !important;;
    }
// 手机屏
@media (max-width  $MQMobile)
   .content-box{
    width  100%
    height 100%
    display  block
    }
    .catalog,.select-box-top{
    display  none !important;
    }
    .page {
    position fixed; 
    bottom 30px;
    right :0px;
    }
    .fixed-box,{
    display block !important;;
    }
// 手机屏
@media (max-width  $MQMobileNarrow)
   .content-box{
    width  100%
    height 100%
    display  block
   }
   .catalog{
    display  none
    }
    .page {
    position fixed; 
    bottom 30px
    right :0px;
    }
    .fixed-box{
    display block !important;
    }
  


  
// layout 
.all-box{
    // height 100%;
    width  100%
    position relative
    overflow-x: hidden
    }

// 解决vue高度100%无效问题
html,body,#app{
  overflow-x: hidden
}
body{
  background transparent;
}
html{
height 100%
}