html, body
  padding 0
  margin 0
  background-color #fff
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor:default;
  
  // 适配样式
@require './adaptation';
  // 文章样式
@require './markdown';
  // 搜索样式重制
@require './palette';
  // 动画
@require './animation';
