html, body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: default;
}

@require './adaptation';
@require './markdown';
@require './palette';
@require './animation';
