$accentColor = #3eaf7c;
$textColor = #2e5c77;
$borderColor = #c4deaa;
$codeBgColor = #282c34;
$arrowBgColor = #ccc;

.search-box {
    z-index: 99;
    position: absolute;
    right: 1em;
    box-sizing: border-box;

    input, input:focus {
        border: 3px dashed #c3dae4;
        margin-right: 1em;
    }
}