blockquote {
  display: block;
  border: 0px dashed #2e5c77;
  border-top: 1px dashed #2e5c77;
  border-bottom: 1px dashed #2e5c77;
  font-size: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 1.75em;
  color: #2e5c77;
  padding: 1em;
}
p{
  code{
    background #e4f1d8;
    color  #008000;
    border 1px solid #8bc34a;
    box-shadow 1px 1px 10px #8bc34a50;
    border-radius 5px;
    padding 1px 10px;
    margin 5px;
  }
}
hr {
  border-top: 1px dashed #62a7d8;
  margin-top 2em;
}