@require './tingAnimation'

html, body
  padding 0
  margin 0
  background-color #fff

@require './base'
@require './tingCode'

::-webkit-scrollbar {
  width: 3px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  width 3px;
  background-color: #88c1ea;
  background linear-gradient(#88c1ea, white)
}

